.App {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}

.qrcode-imput{
  display: flex;
  text-align: start;
  justify-content: start;  
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: antiquewhite;
  flex-grow: 2;
}
.qrcode-output{
  display: flex;
  text-align: center;
  justify-content: center;  
  margin: 20px;
  padding: 20px;
  background-color: rgb(138, 143, 143);
  flex-grow: 1;
}